.custom-border{
    border-style: solid;
    border-width: 2px;
    border-color:coral;
    border-radius: 3px;
}

.padding{
    padding-top:10px;
}
.my-bg{
    background-color: lightsalmon;
        
}
.selected{
    background-color: #acbad4 !important;
}