.custom-border{
    border-style: solid;
    border-width: 2px;
    border-color:coral;
    border-radius: 3px;
}

.padding{
    padding-top:10px;
}
.my-bg{
    background-color: lightsalmon;
        
}
.selected{
    background-color: #acbad4 !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
   
    vertical-align: middle;

}